@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Anatolian+Hieroglyphs&family=Nunito+Sans:wght@400;900&display=swap');

table{
  border: 1px solid #E1E1E1;
  margin: 30px auto;
}
table thead th{
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #E1E1E1;
  padding: 8px 10px;
  text-align: start;
}
table thead th div{
  display: flex;
  gap: 10px;
  align-items: center;
}
table thead svg{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

table tbody tr{
  border: 1px solid #E1E1E1;
  padding: 8px 10px;
}
table tbody tr:first-child, tr:nth-child(3), tr:nth-child(5), tr:nth-child(5), tr:nth-child(7){
  background-color: #F5F5F5;
}
table tbody td{
  font-size: 14px;
  font-weight: 400;
  color: #383838;
  border: 1px solid #E1E1E1;
  padding: 8px 10px;
}
table tbody td div{
  display: flex;
  align-items: center;
  gap: 10px;
}
table tbody td img{
  width: 25px;
  height: 25px;
}
table tbody td a{
  color: #0071CC;
}